@import '../main_scss/_main';
.btn-gold{
    background-color: rgb(243, 212, 116);
    &:hover{
        background-color: rgb(219, 191, 107);
        box-shadow: 0 0 0.625rem rgba(245, 241, 230, 0.5);   
    }
}
