@import '../main_scss/_main';
.btn-gold{
    background-color: rgb(243, 212, 116);
    &:hover{
        background-color: rgb(219, 191, 107);
        box-shadow: 0 0 0.625rem rgba(245, 241, 230, 0.5);   
    }
}


.clip-wrap {
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(0 0 0.1875rem rgba($main-color, .6));
    &:hover{
        filter: drop-shadow(0 0 0.275rem rgba($main-color, .84));  
    }  
  }
  
  .element {
    clip-path: url("#clip-shape");
  }