@import '../main_scss/_main';
.nav-bar{
    .wrapper{
        display: grid;
        font-weight: bold;
        background: linear-gradient(to right, rgba($main-color,.99) 0%, rgba($main-color,.99) 100%);
        grid-template-columns: repeat(3, 1fr);
        z-index: 100;
        height: 4.5rem;
        transition: height 1.9s, background-color 2s, font-size .4s;
        font-size: 1.2rem;
        .menu-item{
            border-right: 0.0925rem solid rgba(250, 232, 179, .2);
        }
    }
    .small-navbar{
        font-weight: normal;
        width: 100vw;
        z-index: 100;
        position: fixed;
        top: 0;
        color: white;
        font-size: 1.12rem;
        height: 3.125rem !important; //50px
        background: linear-gradient(to right, rgba(104,96,96,.97) 0%, rgba($main-color,.97) 100%);
        .menu-item{
            border-right: 0.0625rem solid rgba(250, 232, 179, .3);
        }
        .btn-gold{
            font-size: .8rem;
        }
    }
    
}
