<nav class="nav-bar">
  <!-- <div class="img-navbar" id="img-navbar">
    <div class="text-center btn-navbar">
        <button type="button" class="btn btn-danger btn-lg text-center px-5 py-2 btn-font">Help
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </button>
    </div>
  </div> -->
  <div class="wrapper text-center text-white" [class.small-navbar]="isSmallNavbar">
    <div class=" my-auto">
      <p class="my-auto">BudgetHelper</p>
    </div>
    <div class=" my-auto">
      <p class="my-auto menu-item d-inline-block px-3">Text</p>
      <p class="my-auto px-1 d-inline-block">Text</p>
    </div>
    <div class="my-auto">
      <span class="pr-2"><i class="fa fa-briefcase" aria-hidden="true"> 10000</i></span>
      <span><i class="fa fa-money" aria-hidden="true"> 2000</i></span>
      <!-- <button type="button" class="btn btn-gold">INCOME</button> -->
    </div>
  </div>
</nav>