@import '../main_scss/_main';
.wrapper{
    display: grid;
    width: 100vw;
    background-color: rgb(48, 44, 44);
    grid-template-columns: auto auto auto;
    height: 5rem;
    transition: height 1.2s, background-color 2s;
}

.small-navbar{
    position: fixed;
    top: 0;
    height: 3.125rem !important; //50px
    background-color: rgba(48, 44, 44, .95);
}
.btn-gold{
    background-color: rgb(243, 212, 116);
    &:hover{
        background-color: rgb(219, 191, 107);   
    }
}

.img-navbar{
    background-image: url('/assets/image/nav_backgr.jpg');
    height: 14.500rem;
    width: 100vw;
    background-size: cover;
}