.cropper{
    .fa-upload{
        position: relative;
        top: -3.125rem;
        input[type="file"] {
            display: none;
        }
        &:before {
            content: "";
        }
        .custom-file-upload {
            height: 2.5rem;
            width: 2.5rem;
            padding-left: 0.3125rem;
            border-radius: 1.25rem;
            font-size: 1.6rem;
            display: inline-block;
        }
        .fa-tick{
            height: 5rem;
            width: 5rem;
            padding: 0.3125rem;
            border-radius: 2.5rem;
            font-size: 1.8rem;
            display: none; 
        }
        .show-fa-save{
            display: inline;
        }
    }
    .buttons-cropper{
        background-color: #fff;
        color: gray;
        box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);
        cursor: pointer;
        transition: box-shadow 0.5s, color 0.8s;
        &:hover{
            color: black;
            box-shadow: 0 0 0.5625rem 0.125rem rgba(0,0,0,0.78);
        }
    }
    .errorType {
        min-height: 1.313rem;
        font-size: 0.9rem;
    } 
    .show-image{
        background-color: gray;
        display: inline-block;
        width: 18.75rem;
        height: 18.75rem;
        margin-bottom: 3.4rem;
        .span-image{
            display: block;
            margin-top: 10%;
            .img-border{
                border: 0.125rem solid rgba(255,255,255,0.9);;
                box-shadow: 0 0 0.5625rem  rgba(0,0,0,0.5);
            }
        }
        .fa-show-cropper{
            position: relative;
            top: -0.625rem;
            height: 40.125rem;
            width: 40.125rem;
            border-radius: 1.313rem;
            font-size: 1.6rem;
            display: inline-block;
        }
    }
}





