<div class="container my-5 px-5 start-budges" [class.show-cards]="isShowCards">

  <div class="wrap-tittle">
    <div class="feature-title mb-5">
      <h2 class="tittle-text font-weight-bold">BUDGETS</h2>
    </div>
  </div>
  <div class="text-center my-3">
    <app-modal-add-item></app-modal-add-item>
  </div>
  <div class="row mt-5 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/1.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/2.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/3.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/4.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

  </div>


  <div class="row mt-3 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/1.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/2.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/3.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/4.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt-3 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/1.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/2.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/3.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/4.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="row mt-3 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/1.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/2.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/3.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/4.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="row mt-3 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/1.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/2.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/3.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="budget">
              <div class="card-image">
                <img class="img-budget" src="/assets/image/4.jpg">
              </div>
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="tittle-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <div class="col-md-6 mb-2">
              <i class="fa fa-cc-mastercard m-0 p-0" aria-hidden="true"></i> Deposit</div>
            <div class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</div>
          </div>
        </a>
      </div>
    </div>

  </div>



</div>

<div class="clip-wrap">
    <img src={{photo}} alt="demo-clip-css" class="element" width="150" height="150"></div>
  
  <svg class="clip-svg" width="0" height="0">
    <defs>
      <clipPath id="clip-shape" clipPathUnits="objectBoundingBox" >
        <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
      </clipPath>
    </defs>
  </svg>