<div class="container my-5 px-5 start-budges" id="startBudges" [class.show-cards]="isShowCards">
  <app-modal-add-item></app-modal-add-item>
  <div class="wrap-tittle">
    <div class="feature-title">
      <h2 class="tittle-text">Choose budget</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/2.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">Car</h4>
              </div>
            </div>
            <div class="text-right">
              <div class="tittle-money available-amount text-white text-center">
                <span class="align-text">15000</span>
              </div>
              <div class="tittle-money type-money px-1 text-white text-center">
                <span class="align-text">Free</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/1.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">Dress</h4>
              </div>
            </div>
            <div class="text-right">
              <div class="tittle-money available-amount text-white text-center">
                <span class="align-text">200000</span>
              </div>
              <div class="tittle-money type-money px-1 text-white text-center">
                <span class="align-text">Deposit</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/3.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">Shop</h4>
              </div>
            </div>
            <div class="text-right">
              <div class="tittle-money available-amount text-white text-center">
                <span class="align-text">300</span>
              </div>
              <div class="tittle-money type-money px-1 text-white text-center">
                <span class="align-text">Credit</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/4.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Deposit</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="p-3 ic-bord my-2">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/5.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">Flowers</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Free</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 500</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="p-3 ic-bord my-2">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/6.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">Hat</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Credit</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 7500</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- small -->
  <div class="row mt-3 small">
    <div class="col-md-6 col-lg-3 my-2">
      <div class="p-3 ic-bord">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/4.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">TV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Deposit</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 30500</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="p-3 ic-bord my-2">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/5.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">Flowers</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Free</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 500</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="p-3 ic-bord my-2">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/6.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">Hat</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Credit</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 7500</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="p-3 ic-bord my-2">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image card-shad" src="/assets/image/1.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">Hat</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row font-weight-bold">
            <p class="col-md-6">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i> Credit</p>
            <p class="col-md-6 text-right">
              <i class="fa fa-money" aria-hidden="true"></i> 7500</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
</div>
