<div class="container my-5 px-5 start-budges" id="startBudges" [class.show-cards]="isShowCards">
  <div class="wrap-tittle">
    <div class="feature-title">
      <h2 class="tittle-text">Choose budget</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/2.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/1.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">AAaaaaa</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/3.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/4.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/5.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="link">
        <div class="info-card mb-4">
          <div class="front">
            <img class="card-image" src="/assets/image/6.jpg">
            <div class="img-responsive">
              <div class="carousel-caption">
                <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-6 col-lg-4">
        <a class="link">
          <div class="info-card mb-4">
            <div class="front">
              <img class="card-image" src="/assets/image/6.jpg">
              <div class="img-responsive">
                <div class="carousel-caption">
                  <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div><div class="col-md-6 col-lg-4">
          <a class="link">
            <div class="info-card mb-4">
              <div class="front">
                <img class="card-image" src="/assets/image/6.jpg">
                <div class="img-responsive">
                  <div class="carousel-caption">
                    <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div><div class="col-md-6 col-lg-4">
            <a class="link">
              <div class="info-card mb-4">
                <div class="front">
                  <img class="card-image" src="/assets/image/6.jpg">
                  <div class="img-responsive">
                    <div class="carousel-caption">
                      <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><div class="col-md-6 col-lg-4">
              <a class="link">
                <div class="info-card mb-4">
                  <div class="front">
                    <img class="card-image" src="/assets/image/6.jpg">
                    <div class="img-responsive">
                      <div class="carousel-caption">
                        <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div><div class="col-md-6 col-lg-4">
                <a class="link">
                  <div class="info-card mb-4">
                    <div class="front">
                      <img class="card-image" src="/assets/image/6.jpg">
                      <div class="img-responsive">
                        <div class="carousel-caption">
                          <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div><div class="col-md-6 col-lg-4">
                  <a class="link">
                    <div class="info-card mb-4">
                      <div class="front">
                        <img class="card-image" src="/assets/image/6.jpg">
                        <div class="img-responsive">
                          <div class="carousel-caption">
                            <h4 class="bg-budget pb-1 align-middle">gfghfghfhg</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

  </div>